.filtersConfig {
    background-color: #c5c5c5;
    height: 60px;
    padding: 5px 0 0 15px;
}

.filtersConfig .filter {
    padding: 5px 5px 0 0;
}

.filtersConfig .filter .exist_part span {
    font-weight: 700;
}

.filtersConfig .filter .exist_part {
    display: block;
    font: 15px/18px Calibri;
    color: #333;
    padding: 15px 0 16px;
    width: 100%;
    text-align: center;
}

.filtersConfig .filter:hover {
    border: 1px solid #EFEDE9;
    border-right: none;
    background-color: white;
}

.filtersConfig .filter .exist_part {
    margin: 0;
    position: relative;
    height: 50px;
    border: none;
}

.filtersConfig .filter .exist_part .drop_part {
    position: absolute;
    top: 50px;
    padding: 15px 15px;
    width: 200px;
    display: none;
}

.filtersConfig .filter .exist_part:hover .drop_part {
    background-color: white;
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}