body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(51, 51, 51);
}

.float-button {
    position: absolute;
    width: 56px;
    height: 56px;
    z-index: 2;
    bottom: 10%;
    right: 10%;
    background: #D43A2F;
    color: white;
    font-size: 34px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    border-radius: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.float-button:hover {
    text-decoration: none;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.float-button.back {
    background: #6737d4;
    left: 10%;
}