body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.float-button {
    position: absolute;
    width: 56px;
    height: 56px;
    z-index: 2;
    bottom: 10%;
    right: 10%;
    background: #D43A2F;
    color: white;
    font-size: 34px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    border-radius: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.float-button:hover {
    text-decoration: none;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.filtersConfig {
    background-color: #c5c5c5;
    height: 60px;
    padding: 5px 0 0 15px;
}

.filtersConfig .filter {
    padding: 5px 5px 0 0;
}

.filtersConfig .filter .exist_part span {
    font-weight: 700;
}

.filtersConfig .filter .exist_part {
    display: block;
    font: 15px/18px Calibri;
    color: #333;
    padding: 15px 0 16px;
    width: 100%;
    text-align: center;
}

.filtersConfig .filter:hover {
    border: 1px solid #EFEDE9;
    border-right: none;
    background-color: white;
}

.filtersConfig .filter .exist_part {
    margin: 0;
    position: relative;
    height: 50px;
    border: none;
}

.filtersConfig .filter .exist_part .drop_part {
    position: absolute;
    top: 50px;
    padding: 15px 15px;
    width: 200px;
    display: none;
}

.filtersConfig .filter .exist_part:hover .drop_part {
    background-color: white;
    display: block;
}

/*.filter td {*/
/*display: block;*/
/*font: 15px/18px Calibri;*/
/*color: #333;*/
/*padding: 15px 0 16px;*/
/*width: 100%;*/
/*text-align: center;*/
/*border: 1px solid #EFEDE9;*/
/*border-right: none;*/
/*margin: 0*/
/*}*/